<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>What Goes into Making a Song Popular?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <html>    
    <head>      
       <title>HTMLFont size</title>    
    </head>    
    <body>      
       
    </body>
    <style>
      body {
        background-image: url('img/spotify.png');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        }
      </style>
</html>
  <body>
    <h1 style="color:black;font-size:24px;">Introduction</h1>   
    <br> 
  
    <p style="color:white;font-size:18px;">
    We used a spotify dataset that had measurements of explicitiness, danceability,energy,loudness, speechiness, acousticness,<br> and instrumentalness. 
  We wanted to predict what goes into make a song popular or not. We started with comparing the <br>correlation between all the components and used the ones that compared highest with popularity. </p>
    
  <h1 style="color:black;font-size:24px;">Conclusion</h1>    
    <br> 
  
    <p style="color:white;font-size:18px;"> In our conclusion we see that energy and danceability were the two main components that go into making a song popular,<br> 
    and we also found out that loudness was on of the components that made a song less likely to be popular<br>
   1.  Acousticness has decreased significantly since 1940 to today's type of music.<br>
2. Danceability was one of the variables that stayed most consistent throughout our timeline.<br>
3. Energy seems to be inversely related to Acousticness: It was very low in the first part of the century, but then rose significantly after 1960. It looks like it increased even more after 2000 as well.<br>
  </p> 
<br>
<h1 style="color:black;font-size:24px;">Model Type</h1>   
<br> 

<p style="color:white;font-size:18px;"> We used a linear model regression to predict our data because it was one <br> of the best fits for this model considering
we have multiple component that <br> we wanted to compare. We tested danceability and energy and the came out<br> with the highest results with the value of 73%. </p> 

<p style="color:black;font-size:18px;">
 - Danceability = 73%<br> 
- Energy = 73%<br> 
- Acousticness =55% <br>
- Loudness = 65% <br>
- Explictiness =  7% <br> </p>

<a target="_blank" href="img/model_code.png">
  <br>
  <br>
  
  <img src="img/model_code.png" alt="Model Code"
  height=  150
  width:= 150>
</a>

</article>

<br>

<article>
  <a target="_blank" href="img/top_5.png">
    <br>
    <br>
    <p><em>Top 5 songs</em></p>
    <img src="img/top_5.png" alt="Top 5 songs"
    height=  150
    width:= 150>
  </a>
 
  </article>

  <h1 style="color:black;font-size:24px;">Hypothesis</h1>   
<br> 
<p style="color:white;font-size:18px;"> Our hypothesis was that the song’s popularity was dependent on the audio features, such the tempo,loudness,acuostiness<br>  etc; but one thing that we did not include in our training dataset is the lyrics.<br> 
That could perhaps be another area to involve for the future to improve the machine learning models.</p> 


  
  </body>
      
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
