<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>What Goes into Making a Song Popular?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <html>    
    <head>      
       <title>HTMLFont size</title>    
    </head>    
    <body>      
       
    </body>
</html>
  <body>
    <h1 style="color:black;font-size:24px;">Introduction</h1>   
    <br> 
  
    <p style="color:black;font-size:18px;">
    We used a spotify dataset that had measurements of explicitiness, danceability,energy,loudness, speechiness, acousticness,<br> and instrumentalness. 
  We wanted to predict what goes into make a song popular or not. </p>
    
  <h1 style="color:black;font-size:24px;">Conclusion</h1>    
    <br> 
  
    <p style="color:black;font-size:18px;"> In our conclusion we see that energy and danceability were the two main components that go into making a song popular,<br> 
    and we also found out that loudness was on of the components that made a song less likely to be popular<br> 
  </p> 
<br>
<h1 style="color:black;font-size:24px;">Model Type</h1>   
<br> 

<p style="color:black;font-size:18px;"> We used a linear model regression to predict our data because<br> it was one of the best fit for this model considering
we have multiple component that we wanted to compare</p> 
<br> 
<br>

<h1 style="color:black;font-size:24px;">Hypothesis</h1>   
<br> 

<p style="color:black;font-size:18px;"> Our hypothesis was that the song’s popularity was dependent on the audio features, such the tempo,loudness,acuostiness<br> 
and all the other onesbut one thing that we did not include in our training dataset is the lyrics.<br> 
That could perhaps be another area to involve for the future to improve the machine learning models.</p> 


  
  </body>
      
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
