<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Music for everyone - Spotify</title>
      <link rel="stylesheet" href="assets/styles.css" />
    </head>
    <body>
      <nav>
        <div class="container">
          <img class="spotify-logo" src="img/spotify-logo.svg" alt="spotify-logo">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="visuals.html">Visuals</a></li>
            <li><a href="analysis.html">Analysis</a></li>
        
            <!-- <li><a href="">Sign up</a></li> -->
            <!-- <li><a href="">Log In</a></li> -->
          </ul> 
        </div>
      </nav>
      <style>
        body {
          background-image: url('img/washu.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
          }
      </style>
      <!-- <footer> -->
        <!-- <div class="container"> -->
        <!-- </div> -->
      <!-- </footer> -->
      <h2>Team 2: Nour, Brian, Kerry</h2>
      <br></br>
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="description-content">
              <h1 class="description-header">Summary: Spotify Music Popularity</h1>
              <hr class="description-hr"/>
              <p>We utilized spotify track listings via Kaggle to attempt to predict and determine if the song will be popular or not using the danceability, loudness,speechiness, acousticness and various other musical attributes.</p>
              <br></br>
              <h1 class="description-header">Final Project: Structure and Parameters</h1>
              <hr class="description-hr"/>

              <p>
                * Regression Analysis to make a prediction on the most popular songs or just a song in general</br> 
                * Regression Model for the Machine Learning aspect of the project</br>
                * Tableau for visualizations</br>
                * Amazon AWS and SQL for databases</br>
                * Heroku as the Host Application</br>
                </p>
            </article>
          </div>
          <div class="col-md-4">
      <!-- </footer> -->
    </body>
  </html>